.crowdfunding {
    border: 1px solid lightgray;
    padding: 5px 20px;
    text-align: center;
    box-shadow: -2px 5px 5px darkgrey;
    margin-bottom: 10px;
}

.crowdfunding h3 {
    margin: 0;
}

.crowdfunding p {
    margin: 10px;
}

#prog__bar {
    display: flex;
    align-items: center;
}

#parent__prog__bar {
    width: 100%;
    height: 15px;
    background-color: grey;
    border-radius: 12px;
    padding-top: 2px;
    padding-left: 2px;
}

#child__prog__bar {
    width: 99%;
    height: 13px;
    background-color: goldenrod;
    border-radius: 12px;
}