.checkout__details {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    margin-top: 10px;
}

input {
    margin: 10px;
    width: 100%;
    height: 30px;
    font-size: 17px;
}

.MuiFormControl-root {
    width: 100%;
    margin: 5px 0px !important;
}

.MuiButton-containedPrimary {
    margin-top: 10px !important;
}

#confirm__order {
    margin: 0 auto;
}

#checkout__title {
    margin: 0;
}

#checkout__confirmed-image {
    width: 100%;
} 

#confirm__title {
    margin: 0;
}

#confirm__text {
    margin: 0 0 10px 0;
    font-size: 13px;
}