.product__info {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    /* width: 70%; */
}

#discount {
    font-weight: 900;
    color: red;
    margin: 0;
    transform: rotate(13deg);
    width: 35%;
    position: absolute;
    right: -19%;
    top: 27%;
    font-size: 27px;
    z-index: 10;
}

#price {
    font-weight: 700;
    font-size: 60px;
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: -0.5%;
}

#currency {
    margin: 0;
    font-size: 12px;
    padding-left: 0;
}

#product__info-list {
    padding-left: 0;
}

.product__info-list-item {
    font-size: 20px;
    list-style-type: none;
    padding-bottom: 10px;
}


@media (max-width: 769px) {
    #discount {
        width: 52%;
        right: 1%;
        top: 88%;
    }
}