.video__container {
    width: 100%;
}

.video__big {
    width: 65%;
    height: 30rem;
    margin-bottom: 10px;
}

/* .video__small {
    width: 20%;
    height: 20%;
}

.video__container__switch {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
} */