.footer__container {
    width: 100%;
    background-color: black;
    color: white;
    height: auto;
    margin-top: 5rem;
    padding-bottom: 2rem;
}

.about-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10rem;
    border-bottom: 1px solid white;
}

.about {
    width: 45%;
}

#about-title {
    font-size: 16px;
}

#quick__links-title {
    font-size: 16px;
}

.quick__links-list {
    list-style: none;
    text-align: left;
    padding: 0;
}

.quick__links-list a {
    text-decoration: none;
    color: white;
}


.copyright {
    margin: 15px 10rem;
}

@media (max-width: 768px) {
    .about-links {
        flex-direction: column;
        width: 100%;
        padding: 0 20px;
        margin: 0;
    }

    .about {
        width: 90%;
    }

    .copyright {
        margin: 10px 30px;
    }
}

