.App {
  /* margin-bottom: 200px; */
  height: 100%;
}

.top__container {
  display: flex;
  flex-direction: row;
}

.bottom__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 50px;
}

.right_panel {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 25%;
}

#bellow__navbar {
  margin-top: 60px;
}

@media (max-width: 768px) {
  .top__container {
    flex-direction: column;
  }

  #bellow__navbar {
    margin-top: 50px;
  }

  .right_panel {
    width: 80%;
  }
}