.App {
  margin-bottom: 200px;
}

.top__container {
  display: flex;
  flex-direction: row;
}

.bottom__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 50px;
}

.right_panel {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#bellow__navbar {
  margin-top: 60px;
}